# Environment Variables for Azraq Trips
GEMINI_API_KEY=
APP_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
TRAVELPAYOUTS_TOKEN=
AVIASALES_MARKER=

